body.dark-mode {
    background-color: #1F1F1F;
    color: #ffffff;
}

body.dark-mode a {
    color: #c097f1;
}

body.dark-mode .layout__aside {
    background-color: #121212;
}

body.dark-mode .menu__link {
    color: #ffffff;
}

body.dark-mode .certificados__certificado,
body.dark-mode .certificados__certificado2 {
    background-color: #121212;
    border-color: #333333;
}
body.dark-mode .aside__user-info {
    background-color: #121212;
    border-color: #333333;
}
body.dark-mode .menu__lista {
    background-color: #1e1e1e;
    border-color: #333333;
    border-radius: 1rem;
    border: 3px solid white;
    padding: 1rem;
}
body.dark-mode .contenido__pagina{
    background-color: #1e1e1e;
    border-color: #333333;
}

body.dark-mode .layout__aside {
    scrollbar-width: thin;
    scrollbar-color:  #1e1e1e #333333 ; 
}
body.dark-mode .user-info__btn{
    background-color: #2B1641;
}

body.dark-mode .resumen__titulo,
body.dark-mode .resumen__subtitulo,
body.dark-mode .timelines__year,
body.dark-mode .timelines__title-unitec,
body.dark-mode .timelines__title,
body.dark-mode .certificado__titulo,
body.dark-mode .certificado__titulo2 {
    color: #D5D5D5;
}

body.dark-mode .contenido__pagina {
    border-radius: 0rem 1rem 1rem 0;
}
body.dark-mode .acerca__titulo,
body.dark-mode .marquee__titulo,
body.dark-mode .servicios__titulo,
body.dark-mode .blog__titulo,
body.dark-mode .articulo__titulo,
body.dark-mode .pagina__nombre{
    color: #ffffff;
} 